@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');

.fontRibeyeMarrowRegular {
  font-family: "Ribeye Marrow", serif;
  font-weight: 400;
  font-style: normal;
}

.navBrandImg {
  width: 12rem;
}

.headingFancy1 {
  color: var(--color-black);
  font-size: calc(var(--font-size-base) * 2.25);
}

.headingFancy1::after,
.headingFancy1::before {
  content: '';
  display: inline-block;
  width: 5rem;
  transform: translateY(-.4ch);
  border-bottom: 5px solid var(--color-primary);
}

.headingFancy1::before {
  margin-right: 1rem;
}

.headingFancy1::after {
  margin-left: 1rem;
}

.headingFancy2 {
  color: var(--color-white);
  border-bottom: 5px solid var(--color-white);
  width: fit-content;
  font-weight: 500;
  position: relative;
  font-size: calc(var(--font-size-base) * 2.25);
}

.headingFancy2::after {
  content: '';
  display: inline-block;
  width: 5rem;
}

.headingFancy2::before {
  content: '.';
  position: absolute;
  display: inline-block;
  width: 1ch;
  height: 1ch;
  bottom: -.6ch;
  right: -.5ch;
  background-color: var(--color-white);
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

@media screen and (max-width: 640px) {
  .headingFancy1 {
    font-size: calc(var(--font-size-base) * 1.75);
  }
}

@media screen and (max-width: 480px) {
  .headingFancy1 {
    text-align: center;
    font-size: calc(var(--font-size-base) * 1.5);
  }

  .headingFancy1::after,
  .headingFancy1::before {
    width: 3rem;
  }
}
